.margin-side {
    margin: 50px 10%;
}

.section-p1 {
    padding: 40px 80px;
}

.btns {
    background-color: rgb(113, 112, 116);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}

#hero {
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero-bg.jpg);
    color: white;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);

    #hero-content {
        text-align: center;
        padding: 20px;
        color: #bfb6f0;
        h1 {
            font-size: 50px;
            margin-bottom: 20px;
        }
    }

}

#product {
    text-align: center;

    #product-container {
        display: flex;
        flex-direction: row;
        padding: 30px 0;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .product-item {
        width: 300px;
        text-align: start;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
        border: 1px solid #838080;
        border-radius: 5px;
        margin: 15px 10px;
        cursor: pointer;
        position: relative;

        img {
            width: 100%;
            margin-bottom: 20px;
        }

        .star>i {
            color: yellow;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .cart {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50px;
            background-color: #504e4e;
            position: absolute;
            bottom: 38px;
            right: 30px;
        }
        i {
                color: #bfb6f0;
            }

        h3 {
            color: #bfb6f0;
        }

        #product-link {
            text-decoration: none;
            color: inherit;
        }
    }

    .product-item:hover {
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    #page>a {
        text-decoration: none;
        color: #bfb6f0;
        background-color: #838080;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: 500;
    }
}

#details {
    display: flex;

    .prodImg {
        width: 40%;
        margin-right: 50px;
    }

    .prodDetails {
        width: 50%;
        padding-top: 30px;

        h4 {
            padding: 40px 0 20px 0;
        }

        input {
            width: 50px;
            height: 40px;
            padding-left: 10px;
            font-size: 15px;
            margin-right: 10px;
            border: none;
            border-radius: 5px;
        }

        input:focus {
            outline: none;
        }

        span {
            padding-left: 10px;
            line-height: 25px;
            color: rgb(195, 195, 195);
        }
    }
}

@media screen and (width <=744px) {
    #details {
        display: flex;
        flex-direction: column;

        .prodImg {
            width: 100%;
        }

        .prodDetails {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 30px;
            align-items: center;
        }

        input {
            margin: 0px 0 5px 0;
        }

        span {
            text-align: center;
        }
    }
}

@media screen and (width >=745px) and (width <=1440px) {
    #details {
        display: flex;
        flex-direction: column;

        .prodImg {
            width: 100%;
        }

        .prodDetails {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 30px;
            align-items: center;
        }

        input {
            margin: 0px 0 5px 0;
        }

        span {
            text-align: center;
        }
    }
}

@media screen and (width >=1441px) {
    
}