#header {
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(241, 240, 240, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background-color: #464343;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: #bfb6f0;
        font-size: 30px;
        font-weight: 500;
    }

    #navbar {
        li {
            list-style: none;

            a {
                color: #adaaaa;
                font-size: 20px;
                transition: 0.3s ease;
            }

            a:hover {
                color: #313131;
            }
        }
    }
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}
.container{
    background:#3d3c3c;
    width:450px;
    padding:1.5rem;
    margin:50px auto;
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
}
form{
    margin:0 2rem;
}
.form-title{
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    padding:1.3rem;
    margin-bottom:0.4rem;
}
input, textarea{
    color:inherit;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #757575;
    padding-left:1.5rem;
    font-size:15px;
}
.input-group{
    padding:1% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:black;
}
input:focus, textarea:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid hsl(327,90%,28%);
}
input::placeholder, textarea::placeholder{
    color:transparent;
}
label{
    color:#757575;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label, textarea:focus~label, textarea:not(:placeholder-shown)~label{
    top:-3em;
    color:hsl(327,90%,28%);
    font-size:15px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:rgb(125,125,235);
}
.recover a:hover{
    color:blue;
    text-decoration:underline;
}
.btns{
    font-size:1.1rem;
    padding:8px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background:rgb(125,125,235);
    color:white;
    cursor:pointer;
    transition:0.9s;
}
.btn:hover{
    background:#07001f;
}
.or{
    font-size:1.1rem;
    margin-top:0.5rem;
    text-align:center;
}
.icons{
    text-align:center;
}
.icons i{
    color:rgb(125,125,235);
    padding:0.8rem 1.5rem;
    border-radius:10px;
    font-size:1.5rem;
    cursor:pointer;
    border:2px solid #dfe9f5;
    margin:0 15px;
    transition:1s;
}
.icons i:hover{
    background:#07001f;
    font-size:1.6rem;
    border:2px solid rgb(125,125,235);
}
.links{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding:0 4rem;
    margin-top:2rem;
    font-weight:bold;
}
button{
    color:rgb(125,125,235);
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
}
button:hover{
    text-decoration:underline;
    color:blue;
}

#name {
    display: flex;
    align-items: center;
    justify-content: center;

    #fName {
        margin-right: 30px;
    }
}

footer {
    background-color: rgb(30, 30, 30);
    text-align: center;
    box-shadow: 0 5px 15px rgba(241, 240, 240, 0.1);
    z-index: 999;

    .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        i {
            font-size: larger;
            padding: 5px;
            cursor: pointer;
            color: #adaaaa;
        }

        p {
            margin: 0%;
        }

        h4 {
            margin-top: 20px;
            color: rgb(120, 107, 236);
        }
    }

    img {
        border-radius: 20px;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    p {
        margin-top: 30px;
    }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#message {
  display:none;
  background: transparent;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

@media screen and (width <= 744px) {
    #mobile {

        i {
            font-size: 25px;
            padding-left: 10px;
            justify-content: center;
        }
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 250px;
        background-color: #313131;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s ease;

        li {
            margin-bottom: 30px;
            margin-left: 20px;
        }

        #bag {
            display: none;
        }

        #close {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 30px;
            color: #adaaaa;
            cursor: pointer;

            &:hover {
                color: #bfb6f0;
            }
        }
    }

    #navbar.active {
        right: 0;
    }

    #pic {
        display: none;
    }
}

@media screen and (width >=745px) and (width <=1440px) {
    #mobile {

        i {
            font-size: 25px;
            padding-left: 20px;
            justify-content: center;
        }
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 250px;
        background-color: #313131;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s ease;

        li {
            margin-bottom: 30px;
            margin-left: 20px;
        }

        #bag {
            display: none;
        }

        #close {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 30px;
            color: #adaaaa;
            cursor: pointer;

            &:hover {
                color: #bfb6f0;
            }
        }
    }

    #navbar.active {
        right: 0;
    }
}

@media screen and (width >=1441px) {
    #mobile {
        display: none;
        align-items: center;
    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;

        #close {
            display: none;
        }
    }

    li {
        margin: 0 20px;
    }

    #pic {
        display: flex;
    }
}